
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Cards Here</title>
    <link rel="stylesheet" href="cardGame.css">
</head>
<body>
    <div class="word">
        <h1>Play Card Games</h1>
    </div>
    
    <div id="card">
        <div class="alert">
            <h4 class="warn"></h4>
        </div>
        <div class="table">
            <button type="button">Draw your cards</button>
            <h2>Player 1</h2>
            <img id="player1" src="" alt="Player1">
            <h2>Player 2</h2>
            <img id="player2" src="" alt="Player2">
        </div>
    </div>
    <div class="h3">
        <h3></h3>
    </div>
    <footer>
        <p class="copRight">&copy; 2026 Bereket woldemariyam. All rights reserved.</p>
    </footer>

    <script type="text/javaScript" src="cardGame.js"></script>
</body>
</html>
    